<app-header [isModal]="true" title="Agregar Tarjeta"></app-header>
<ion-content>

  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!--==============Agregar Nombre de Gasto ==============-->
    <app-custom-input autocomplet="nombreCategoria" icon="person-outline" type="text" label="Nombre Categoria"
      [control]="form.controls.nombreCategoria">

    </app-custom-input>
    <div class="validators" *ngIf="form.controls.nombreCategoria && form.controls.nombreCategoria.touched">
      <div *ngIf="form.controls.nombreCategoria.errors?.['required']">El Numero Tarjeta es necesario</div>
      <div *ngIf="form.controls.nombreCategoria.errors?.['minLength']">El Numero Tarjeta debe tener almenos 16 número
      </div>

    </div>

    <!--Agregar Descripción-->

    <app-custom-input autocomplet="Descripcion" icon="person-outline" type="text" label="Descripción"
      [control]="form.controls.descripcion">

    </app-custom-input>
    <div class="validators" *ngIf="form.controls.descripcion && form.controls.descripcion.touched">
      <div *ngIf="form.controls.descripcion.errors?.['required']">El Nombre del Banco es necesario</div>
      <div *ngIf="form.controls.descripcion.errors?.['minLength']">El nombre debe tener almenos 4 caracteres</div>

    </div>

    <!--=============================== Ingresar CVV ===========================-->
    <app-custom-input autocomplet="cvv" icon="person-outline" type="text" label="Ingresar presupuesto"
      [control]="form.controls.presupuesto">

    </app-custom-input>
    <div class="validators" *ngIf="form.controls.presupuesto && form.controls.presupuesto.touched">
      <div *ngIf="form.controls.presupuesto.errors?.['required']">El CVV es necesario</div>
      <div *ngIf="form.controls.presupuesto.errors?.['min']">El CVV debe tener almenos 3 caracteres</div>

    </div>




    <!--===============================BTN SIGN-UP=======================================-->
    <ion-button routerLink="auth" mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      Agregar Gasto
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>


  </form>


</ion-content>