<app-header title="Login"></app-header>
<ion-content [fullscreen]="true">

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <app-custom-input autocomplete="email" icon="mail-outline" type="email" label="correo"
        [control]="form.controls.email">
      </app-custom-input>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es necesario</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>

      </div>

      <app-custom-input [control]="form.controls.password" type="password" label="contraseña"
        icon="lock-closed-outline">
      </app-custom-input>
      <div *ngIf="form.get('password').touched">
        <ion-text color="danger" *ngIf="form.get('password').hasError('whitespace')">
          La contraseña no puede contener espacios en blanco.
        </ion-text>
        <ion-text color="danger" *ngIf="form.get('password').hasError('minLength')">
          La contraseña debe tener al menos 8 caracteres.
        </ion-text>
      </div>
      

      <p routerLink="forgot-password" class="ion-text-end">Olvidastes la contraseña</p>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" color="transparent">
        Ingresar

        <ion-icon slot="end" name="log-in-outline"></ion-icon>

      </ion-button>

      <ion-button class="ion-margin-top" routerLink="sigin-up" expand="block" mode="ios" fill="outline" color="transparent">
        Registrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>

    </form>
  </div>



</ion-content>