<app-header backButton="/main/categoria" title="Gastos"></app-header>

<ion-content [fullscreen]="true">


  <ion-card *ngIf="gastos.length > 0">
    <ion-card-header>
      <ion-card-title>Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let gasto of gastos">
          <img class="tarjeta" src="./assets/icon/gastando-dinero.png">
          <ion-label>
            <p>{{ gasto.nombreCategoria }}</p>
            <p>{{ gasto.descripcion }}</p>
            <p>s/. {{ gasto.presupuesto }}</p>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="confirmDeleteGasto(gasto)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="addUpdateGasto()">
        Agregar Gasto
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="gastos.length === 0">
    <ion-card-header>
      <ion-card-title>No hay gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="addUpdateGasto()">
        Agregar Gasto
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>