<app-header backButton="/main/categoria" title="Gastos"></app-header>

<ion-content [fullscreen]="true">

    
  
    <ion-card mode="ios" id="saldoRestante" class="d-flex-center ion-text-center" >
      <div>
        <h5> Saldo Restante: s/.{{saldoRestante}}</h5>
      </div>
    </ion-card>
    <div>
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <ion-card *ngIf="gastos.length > 0">
    <ion-card-header>

      <ion-card-title>Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-list>

        
        <ion-item *ngFor="let gasto of gastos">
          <span class="arcticons--expense-register"></span>
          <ion-label>
            <p>{{ gasto.nombreCategoria }}</p>
            <p>{{ gasto.descripcion }}</p>
            <p>s/. {{ gasto.presupuesto }}</p>
            <p>{{ gasto.fechaReg }}</p>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="confirmDeleteGasto(gasto)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="addUpdateGasto()" color="transparent">
        Agregar Gasto
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="gastos.length === 0">
    <ion-card-header>
      <ion-card-title>No hay gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="addUpdateGasto()" color="transparent">
        Agregar Gasto
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>