<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton" color="light"></ion-back-button>
      <ion-button (click)="dismissModal()" *ngIf="isModal" color="light">
        <ion-icon name="close-circle-outline" ></ion-icon>
      </ion-button>

      <ion-menu-button *ngIf="showMenu" menu="menu-content" color="light"></ion-menu-button>


    </ion-buttons>

    <ion-title>
      <strong>{{title}}</strong>
      <div class="admin">A D M I N </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showMenu" (click)="openSearchModal()">
        <ion-icon slot="icon-only" name="search-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>